
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @submission_results.each do |submission_result| %>
      <tr>
        <td>Submission <%= submission_result.id %></td>
        <td><%= submission_result_status_format(submission_result.status) %></td>
        <td><%= link_to 'Show', submission_result %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
