<h2>Available challenges</h2>
<table class="table">
     <tr>
        <td>Name</td>
        <td>Description</td>
        <td></td>
      </tr>
    <% @challenges.each do |challenge| %>
     <tr>
        <td><%= challenge.name %></td>
        <td><%= challenge.description %></td>
        <td><%= button_to 'View challenge', challenge, :method=>"get", :class=>"btn btn-default" %></td>
      </tr>
    <% end %>
  </div>
  
</table>

<%= button_to 'New Challenge', new_challenge_path, :method=>"get",:class=>"btn btn-default" %>
