<h2>Available challenges</h2>
<table class="table">
     <tr>
        <td>Name</td>
        <td>Description</td>
        <td></td>
      </tr>
    <% @challenges.each do |challenge| %>
     <tr>
        <td><%= challenge.name %></td>
        <td><%= challenge.description %></td>
        <td><%= link_to 'View challenge', challenge, :class=>"btn btn-default" %></td>
      </tr>
    <% end %>
  </div>
  
</table>

<% if current_user.admin? %>

<%= link_to 'New Challenge', new_challenge_path,:class=>"btn btn-default" %>

<% end %>
